* {
  box-sizing: border-box;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

main {
  background-color: #EEEEEE;
  padding: 40px;
}

select {
  width: 100%;
  padding: 10px;
}

input {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 10px;
}


.mb {
  margin-bottom: 30px;
}