* {
  box-sizing: border-box;
  font-family: Arial;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  width: 100%;
  background-color: #EEEEEE;
  padding: 16px;
  display: flex;
  justify-content: center;
}

header>div {
  margin: 0 32px;
}

main {
  flex: 1;
}



select {
  width: 160px;
  padding: 4px;
}

input {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 4px;
}